.orangebar-text{
    width: 100%;
    height:15vh;
    background:#a44027;
    display:flex;
    justify-content: center;
    align-items: center
}
.orangebarh3{
    font-size: 30px;
font-family: "Work Sans", sans-serif;
    color:white;
    font-weight: 550;
    word-spacing: 5px;
    

}