.comprehensive-container {
  background: #faf7f2;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.comprehensive-text {
    flex: 0 0 50%;
    position: relative;   /* IMPORTANT */
}

/* SVG position */
.comprehensivesvg {
    width: 25%;
    position: absolute;
    right: 60px;   /* control spacing from right */
    background: none; 
    top: -20px;
    right:5px;     
}

/* Fix heading class */
.comprehensive-heading-row {
    width: 100%;
}
.comprehensiveh1 {
    font: 45px "Lexend", sans-serif;
    text-align: left;
    padding: 0px 25% 40px 10%; 
    font-weight: 550;
    line-height: 1.2;
    word-spacing: 3px;
}
.comprehensiveh1 span{
    color:#A44047
}
.comprehensive-para{
    color:#989792;
        padding: 120px 77% 10px 10%;
            line-height: 1.5;
                font:13px "Work-sans",sans-serif;
            }
.comprehensive-paragraph{
    color:#989792;
    font-size: 13px;
font-family: "Work Sans", sans-serif;
    padding: 0 28% 0 40%;
    line-height: 1.5;
    word-spacing: 5px;


}
.comprehensive-img-text {
    display: flex;
    gap: 60px;
    width: 100%;
    padding: 60px 10%;
}

/* Two columns */
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Each row item */
.item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

/* Image */
.item img {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    object-fit: cover;
}

/* Text */
.item h5 {
    font-size: 20px;
font-family: "Lexend", sans-serif;
color: #1F242E;
line-height: 1.5;
    margin: 0;
}

.item p {
   font-size: 14px;
font-family: "Work Sans", sans-serif;
color: #777;
    margin-top: 5px;
    word-spacing: 3px;
    line-height: 1;
}
.item:nth-last-child(-n+1) {
    border-bottom: none;
}
@media screen and (max-width: 767px) {
    .comprehensiveh1{
        font: 25px "Lexend", sans-serif;
        font-weight: 550;

    }
.comprehensive-paragraph {
        padding: 20px 20px 10px  !important;
    }
.comprehensive-container {
    flex-direction: column;
  }
  .comprehensivesvg{
    width:50%;
    top:20px;
    right:70px;

  }
  .item h5{
    font-size: 20px;
    line-height: 1.3;

  }
  .item p{
    font-size: 14px;
        word-spacing: 5px;
            line-height: 1.3;



  }
  .comprehensive-img-text {
        flex-direction: column;   /* 🔥 THIS is the key */
        gap: 30px;
    }

    .column {
        width: 100%;
    }
    .item {
    flex-direction: column;   /* 🔥 stack image + text */
    align-items: flex-start;  /* align text left */
    gap: 12px;
  }

  .item img {
    width: 40%;              /* full width image */
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }


    
}
